{{ html_base_begin }}

<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="">&nbsp localhost administration</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="">Change Password</a>
                    <a class="nav-item nav-link" href="{% url 'admin-logout' %}">Logout</a>
                </div>
            </div>
            
        </div>
    </nav>
</header>

<div class="container" style="margin-top: 5%; margin-left:2%">
    <p style="color:rgb(128, 128, 128); font-size:180%">Site administration</p>

    <!-- all registered apps/tables -->

    {{ admin_body }}

</div>



{{ html_base_end }}