{{ html_base_begin }}
<br><br><br>
<div class="container">


    <div style="margin-left: 35%;">
        
        <div class="card" style="width: 20rem;" >
            <div class="card-header" style="background-color:rgb(61, 179, 133); color:white" >    
                Localhost administration
            </div>
            <br>
            
            {{ error_message }}
            

            <form action="" method="POST">
                
                <div style="padding:10px">
                    
                    <p style="margin-bottom: 0px;">Username</p>                
                    <div class="input-group mb-3">
                        <input type="text"  name="username" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value={{username}}>
                    </div>
                    
                    <p style="margin-bottom: 0px;">Password</p>                
                    <div class="input-group mb-3">
                        <input type="password"  name="password" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value={{password}}>
                    </div>
                    
                    <style>
                        .btn-outline-success{
                            color:rgb(61, 179, 133);background-color:transparent;background-image:none;border-color:rgb(61, 179, 133)
                        }
                        .btn-outline-success:hover{
                            color:#fff;background-color:rgb(61, 179, 133);border-color:rgb(61, 179, 133)
                        }
                    </style>

                    <div class="input-group mb-3" style="left: 35%;">
                        <div class="input-group">
                            <input class="btn btn-outline-success" type="submit" value="Submit"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>  <!-- car end -->

    </div>
        
</div>
{{ html_base_end }}